<h4 style="font-family: 'Economica'; "> Leave Your Message </h4><br>
<form accept-charset="UTF-8" action="https://getform.io/f/f86d0d24-5ad8-41ec-aa8b-69b22fdbcb45" method="POST" enctype="multipart/form-data" target="_blank">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="exampleInputName">Name</label>
      <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Enter your name" required="required">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1" required="required">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email ">
    </div>
  </div>

  <!-- div class="form-group">
    <label for="exampleInputphone1" >Phone no</label>
    <input type="tel" name="phone" class="form-control" id="exampleInputphone1" aria-describedby="phoneHelp" placeholder="Enter Phone No ">
  </div-->
  <div class="form-group">
    <label for="exampleInputmessage">Feedback/Message/Suggestion </label>
    <textarea class="form-control" name="message" id="exampleInputName" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
